.section {
  p {
    padding: 50px 0 20px;
    line-height: 44px;
  }
}

.content {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-top: 50px;
  max-width: none;
  z-index: 1;
}

.title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  margin: 30px 0 20px;
}

.title,
.title ~ p {
  max-width: 690px;
  margin: 0 auto;
}

.postsList {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  list-style: disc;
  line-height: 44px;
  margin: 30px 20px 40px;
}

.post {
  max-width: 300px;
  margin: 10px;
  background: #eee;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  .postsList {
    margin: 0 auto;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 33px;
    line-height: 36px;
  }

  .content {
    margin-top: 50px;
  }
}